@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins";
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
